@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

h3, h4 {
    margin: 0 0 8px 0;
}

h3, h4, a, code {
    font-family: "Karla";
}

h3, h4, a {
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 1.75em;
}

h4 {
    font-weight: 400;
    font-size: 1.1em;
}

code {
    color: #ffa340;
}

body {
    background-color: #1C1C1C;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade 2s;
}

.vote-buttons {
    margin: 0 auto;
    display: block;
    max-width: 34em;
}

.site-button {
    margin-top: 0.4em;
    float: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color: #F79967;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .2), 0 1px 3px rgba(0, 0, 0, .02);
    text-decoration: none;
}

.site-button:hover {
    background-color: #EC9060;
    transform: translateY(1.5px);
    color: white;
}

.uwu {
    max-height: 20em;
    float: right;
}